/* CSS declarations go here

Stappenplan:

1: Nu werkt de aan en uit knop - gedaan
2: Eerst een lichtje aansluiten aan de knop - gedaan

3: Druksensor aansluiten en koppelen aan localhost:3000
4: Druksensor bij bepaalde waarde van kleur laten veranderen
5: Druksensor en aan en uit knop met elkaar laten werken
6: 1 kookpit afbeelding toevoegen en koppelen aan de knop en druksensor
7: 5 keer herhalen.




*/

#container {width:800px;}
